anyio==4.15.1
asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
Django==6.1.1
django-environ==0.14.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
pillow==12.3.0
psycopg2-binary==2.9.13
RapidFuzz==3.14.6
reportlab==5.0.1
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.4
uvicorn==0.53.0
